// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$font-serif: 'Playfair Display', 'DejaVu Sans Mono', serif !default;
$font-sans: 'Roboto', 'Helvetica Neue Light', sans-serif !default;
$font-prata: 'Prata', 'DejaVu Sans Mono', serif;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Colors
$primary-black: #000000;
$primary-gray: #c4c4c4;
$primary-red: #d4b098;
$primary-white: #ffffff;
$primary-green: #66c05d;
$accent-green: #94d38e;

//breakpoints
$break-xs: 350px;
$break-sm: 768px;
$break-md: 900px;
$break-lg: 1100px;
$break-xl: 1600px;

/// Container's maximum width
/// @type Length
$max-width: 1150px !default;

// box-shadow variables for button component
$button-green: #66c05d;
$button-gray: #555248;
$button-red: #d4b098;
$button-white: #ffffff;
